<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stormy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E406E6581E69C0D900959F92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E406E66C1E69C0DB00959F92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E406E6771E69C0DB00959F92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
